.content_profils {
	display: flex;
	flex-direction: row;
	background-color: var(--second-color);
	align-items: center;
	gap: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	overflow-x: auto;
	padding: 1rem;
	border-radius: 8px;
	/* max-width: 375px; */
}

.image_content {
	width: 6rem;
	height: 6rem;
	min-width: 6rem;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 1px 3px 8px 1px #fff;
}
.content_messages {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100vw;
	padding: 1rem;

	/* background-color: red; */
}

.block_message article {
	border-radius: 8px;
	padding: 1rem;
	margin: 1rem 0;
	border: 2px solid var(--primary-color);

	& img {
		width: 20vw;
	}
	& h3 {
		font-size: 2rem;
	}
}
