.detailprofil_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: start;
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	margin: 0 1rem 0 1rem;
}

.profil_image {
	width: 18rem;
	height: 18rem;
	object-fit: cover;
	border-radius: 8px;
	margin-top: 1rem;
	object-position: top;
}

.name {
	margin-top: 1rem;
	color: var(--font-color);
}

.text {
	margin: 2rem;
	padding: 2rem;
	background-color: var(--second-color);
	border-radius: 8px;
}

.text > p {
	margin-bottom: 1rem;
	color: var(--font-color);
}

.button-dematch {
	display: none;
}

.button-profilDetails {
	padding: 1rem;
	text-align: center;

	& button {
		margin-right: 1rem;
		background-color: var(--second-color);
	}
	& a {
		background-color: var(--primary-color);
		padding: 0.6rem 0.8rem;
		border-radius: 8px;
		color: black;
	}
}
