@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

#root {
	--background-color: #fff;
	--font-color: #000;
	--primary-color: #ffd700;
	--second-color: #d06a2b;
	--first-font-family: "Olympus";
	--second-font-family: "Londrina Solid";
	--third-font-family: "Verdana" sans-serif;
}

body {
	background-color: white;
	color: #000;
	/* width: 100%; */
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3 {
	font-family: var(--first-font-family);
}

p {
	font-family: var(--second-font-family);
	letter-spacing: 0.0 .5rem;
}
